.navbar{
    display: flex;
    background-color: darkorange;
    justify-content: space-around;
}

 

.content {
    display: flex;
    background-color: blanchedalmond;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    
}

 

.news{
    width: 30%;
}

 

h1~p{
    text-align: center;

 

}

 

.content p{
    display: block;
    width: 100%;
}